<%- include partials/header.ejs %>
<header class="header">
    <nav class="details-navbar">
        <button class="btn btn-default" data-component="back-btn">&laquo; Back</button>
    </nav>
</header>
<main class="main-content">
    <div class="row">
        <section class="col-sm-4">
            <img src="<%= data.owner.avatar_url %>" alt="avatar" width="100%">
        </section>
        <section class="col-sm-8">
            <h1><%=data.name%></h1>
            <h2><a href="<%= data.owner.html_url %>"><%=data.owner.login%></a></h2>
            <p>Type: <strong><%=data.owner.type%></strong></p>
            <p>Site admin: <span class="label label-<%=data.owner.site_admin ? 'success' : 'danger'%>"><%=data.owner.site_admin ? 'Yes' : 'No'%></span></p>
            <h4>Description:</h4>
            <p><%=data.description%></p>
            <span class="label label-<%=data.private ? 'danger' : 'success'%>"><%=data.private ? 'private' : 'public'%></span>
            <p>Created at: <strong><%= new Date(data.created_at).toDateString()%></strong></p>
            <p>Updated at: <strong><%= new Date(data.updated_at).toDateString()%></strong></p>
            <p>Pushed at: <strong><%= new Date(data.pushed_at).toDateString()%></strong></p>
            <p>Subscribers: <strong><%=data.subscribers_count%></strong></p>
            <p>Watchers: <strong><%=data.watchers_count%></strong></p>
            <p>Forks: <strong><%=data.forks_count%></strong></p>
        </section>
    </div>
</main>

<%- include partials/footer.ejs %>