<%- include partials/header.ejs %>

<main class="main-content" data-page="<%=pageNumber%>">
    <%- include partials/navigation.ejs %>

    <section class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Repo name</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <% repos.forEach(function(repo){ %>
                <tr>
                    <td><%= repo.id %></td>
                    <td><%= repo.name %></td>
                    <td><img src="<%= repo.owner.avatar_url %>" alt="avatar" height="50"><span><%= repo.owner.login %></span></td>
                    <td><a href="/details/<%=repo.name%>" class="btn btn-primary">Details</a></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </section>

    <%- include partials/navigation.ejs %>

</main>

<%- include partials/footer.ejs %>